$purple: #765898;
$darkPurple: #523874;
$green: #52d053;
$orange: #e6770b;
$red: #d3290f;
$black: #000000;


* {
 	all: unset;
	font-family: feather;
	font-family: DaddyTimeMono NF;
}

// Bar
.bar_class {
  background-image: linear-gradient(to bottom, $purple 30%, $darkPurple 100% *50);
  color: $green;
  padding: .3rem;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

// Positions 
.left_modules {
  font-size: 18;
  padding: 5px 25px 5px 0px;
}
.center_modules {
  font-size: 18;
  padding: 5px 25px 5px 0px;
}
.right_modules {
  font-size: 18;
  padding: 5px 0px 5px 25px;
}


// Workspace
.works button:hover {
  color: $orange;
}

// Metric percentage 
.percentage_metric_box {

}
.percentage_metric_icon {  
  
}
.percentage_metric_text {
  color: $orange;
  margin-left: 10px;
}
.percentage_metric_text_processor{
  margin-right: 20px;
}

// Metric
.metric scale trough highlight {
  all: unset;
  background-color: $orange;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: $orange;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}


